.avatar {
    border: 2px solid #ffffff;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.3),0 0 1px rgba(0,0,0,0.5);
}
.arrow_box {
	position: absolute;
    bottom: calc(106%);
    left: calc(100% + 20px);
	background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3),0 0 1px rgba(0,0,0,0.5);
    padding: 5px;
}
.arrow_box span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arrow_box:after, .arrow_box:before {
	top: calc(100%);
	left: calc(7%);
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:before {
	border-color: rgba(13, 13, 13, 0);
	border-top-color: rgba(0,0,0,0.2);
	border-width: 5px;
	margin-left: -1px;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 4px;
	margin-left: 0px;
}
